{% extends 'main/base.html' %}

{% block title %}
ЧТО НОВОГО
{% endblock %}

{% block content %}
        <section class="new">
            <div class="container">
                <h2 class="new-title">ЧТО НОВОГО</h2>
                <div class="new-info">
                    <div class="new-text">
                        <p>
                            Все модели оснащены однокристальной системой A16 Bionic, 48-мегапиксельной основной камерой и экранами ProMotion с защитой Ceramic Shield и частотным диапазоном 1 — 120 Гц, а также ускоренной памятью LPDDR5. Дизайн линейки обновлен, на фронтальной панели смартфонов два выреза.
                        </p>
                        <p>
                            Все iPhone 14 в США будут продаваться без лотка для SIM-карт: производитель заявляет, что улучшенная технология eSIM позволит перенести старые электронные сим-карты на новые смартфоны.
                        </p>
                        <p>
                            Обновлены фронтальная камера (она снабжена автофокусом и быстрее распознает пользователя в условиях недостаточной освещенности) и сенсор основной камеры.
                        </p>
                        <b>
                            iPhone 14 Pro вышел в новом дизайне — без фирменной «челки». Также в ассортименте появился новый цвет. В смартфоне, в отличие от «обычных» 14-х айфонов, установлен процессор A16 Bionic, который может за секунду производить 4 трлн операций с фото.
                        </b>
                    </div>
                    <img class="image-new" src="images/iphone-new.jpg" alt="iphone">
                </div>
            </div>
        </section>
{% endblock %}